[Unit]
Description=avnt mongodb systemd unitfile
Wants=network.target
After=network.target

[Service]
Type=forking
PIDFile=/mongodb/mongod.pid
ExecStart=/bin/mongod --config /mongodb/mongod.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=mongod
Group=mongod

[Install]
WantedBy=multi-user.target
